@       IN      SOA     ns1.gandi.net.      fsck-it.org. (
                        2022012101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      ns1.gandi.net. 
                NS      hostmaster.gandi.net. 

                MX      10 mail.fsck-it.org.


$ORIGIN verboxen.org.

@ 		        IN	A 	23.160.192.216
drachen         	IN	A 	23.160.192.216
runcible                IN      A       10.0.11.101
kanazawa                IN      A       10.10.10.196
samarkand               IN      A       10.0.11.15
sams-creek              IN      A       10.0.10.35
osaka 			IN 	A   	10.10.10.79
nagano 			IN 	A   	10.10.10.30
kyoto 			IN 	A   	10.10.10.205
tokyo 			IN 	A   	10.10.10.29
