@       IN      SOA     curitiba.ns.porkbun.com.      fsck-it.org. (
                        2022012101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      curitiba.ns.porkbun.com.
                NS      fortaleza.ns.porkbun.com.
                NS      maceio.ns.porkbun.com.
                NS      salvador.ns.porkbun.com.


$ORIGIN fsck-it.org.

@ 		        IN	A 	23.160.192.216
drachen         	IN	A 	23.160.192.216
megalonyx               IN      A       10.0.11.180
samarkand               IN      A       10.0.11.15
lab                     IN      A       100.104.105.74
kanazawa                IN      A       100.120.16.131
kyoto                   IN      A       100.83.16.133
nagano                  IN      A       100.86.1.92
osaka                   IN      A       100.82.184.58
tokyo                   IN      A       100.118.124.54