@       IN      SOA     drachen.fsck-it.org.      lab.fsck-it.org. (
                        2022012101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      lab.fsck-it.org.


$ORIGIN lab.fsck-it.org.

@ 		        IN	A 	100.104.105.74
lab             	IN	A 	100.104.105.74
megalonyx               IN      A       10.10.10.240
nagano                  IN      A       10.10.10.30
kyoto                   IN      A       10.10.10.205
kanazawa                IN      A       10.10.10.196
osaka                   IN      A       10.10.10.79
