@       IN      SOA     ns1.gandi.net.      verboxen.org. (
                        2022012101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      ns1.gandi.net. 
                NS      hostmaster.gandi.net. 

                MX      10 mail.verboxen.org.


$ORIGIN verboxen.org.

@ 		        IN	A 	23.160.192.216
drachen         	IN	A 	23.160.192.216
www 	        	IN 	CNAME 	drachen.verboxen.org.
{% for hostn in ansible_play_hosts %}
{{ hostn }}                IN      A       {{ hostvars[hostn]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% for ts_host in ansible_play_hosts %}
{{ ts_host }}-ts              IN      A       {{ hostvars[ts_host]['ansible_tailscale0']['ipv4']['address'] }}
{% endfor %}
tentacles.verboxen.org IN CNAME ikapode0.verboxen.org
