@       IN      SOA     ns1.gandi.net.      verboxen.org. (
                        2022012101	; serial number YYMMDDNN
                        28800           ; Refresh
                        7200            ; Retry
                        864000          ; Expire
                        86400           ; Min TTL
			)

                NS      ns1.gandi.net. 
                NS      hostmaster.gandi.net. 

                MX      10 mail.verboxen.org.


$ORIGIN verboxen.org.

@ 		        IN	A 	23.160.192.216
drachen         	IN	A 	23.160.192.216
www 	        	IN 	CNAME 	drachen.verboxen.org.
sabretooth	        IN	A	192.168.0.93 
leviathan	        IN	A	192.168.0.94 
mastodon	        IN	A	192.168.0.99 
megalonyx	        IN	A	192.168.0.219 
samarkand	        IN	A	192.168.0.161 
nautiloid               IN	A	192.168.0.48 
ikapode0                IN      A       192.168.0.154
ikapode1                IN      A       192.168.0.172
{% for ts_host in ansible_play_hosts %}
{{ ts_host }}-ts              IN      A       {{ hostvars[ts_host]['ansible_tailscale0']['ipv4'] }}
{% endfor %}
