[Unit]
Description=Spigot Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=1
User=zach
ExecStart=/bin/bash /home/zach/Project_Flint/shwerver.sh

[Install]
WantedBy=multi-user.target
