[Unit]
Description=Paper Server
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=greyman
WorkingDirectory=/srv/{{ server_instance }}
ExecStart=/usr/bin/tmux new -d -s {{ server_instance }}	"/usr/bin/java -jar -Xmn1024M -Xmx1024M -XX:+UseConcMarkSweepGC /srv/{{ server_instance }}/server.jar"
ExecReload=/usr/bin/tmux send-keys {{ server_instance }} -t reload Enter
ExecStop=/usr/bin/tmux send-keys {{ server_instance }} -t stop Enter

[Install]
WantedBy=multi-user.target
