server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         fsck-it.org;
    root                /usr/share/nginx/html;

    # SSL
    ssl_certificate     /etc/pki/tls/certs/fsck-it.org.crt;
    ssl_certificate_key /etc/pki/tls/private/fsck-it.org.key;

    # logging
    access_log          /var/log/nginx/access.log combined buffer=512k flush=1m;
    error_log           /var/log/nginx/error.log warn;

    # index.html fallback
    location / {
        try_files $uri $uri/ /index.html;
    }

    # reverse proxy
    {% for key in proxy_blocks.keys() %}
    {{ proxy_blocks[key] }}
    {% endfor %}

}

# subdomains redirect
server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         *.fsck-it.org;

    # SSL
    ssl_certificate     /etc/pki/tls/certs/fsck-it.org.crt;
    ssl_certificate_key /etc/pki/tls/private/fsck-it.org.key;
    return              301 https://fsck-it.org$request_uri;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name .fsck-it.org;
    return      301 https://fsck-it.org$request_uri;
}