127.0.0.1      {{ inventory_hostname }}   {{ inventory_hostname }}.verboxen.org
23.160.192.216 drachen      drachen.verboxen.org
192.168.0.182  plo-koon     plo-koon.verboxen.org
192.168.0.189  sabretooth   sabretooth.verboxen.org  
192.168.0.104  leviathan    leviathan.verboxen.org   
192.168.0.136  mastodon     mastodon.verboxen.org  
192.168.0.119  megalonyx    megalonyx.verboxen.org
192.168.0.161  samarkand    samarkand.verboxen.org  
192.168.0.39   dobby        dobby.verboxen.org 
